@import "reset";
@import "breakpoints";
@import "colors";

html, body {
    height: 100%;
}

h2 {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
}

h3 {
    text-align: center;
    font-weight: 700;
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 24px;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 280px;
}

.main {
    flex: 1 1 auto;

    &__container {
        max-width: 600px !important;
    }

    &__coming_soon {
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        text-align: center;
    }
}

// Helpers

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}

.unclickable {
    pointer-events: none;
}

[class*="__container"] {
    padding: 0 15px;
    margin: 0 auto;

    max-width: $xl;

    @include sm {
    }

    @include md {
    }

    @include lg {
    }
}

body {
    background-image: url("img/background.svg");
    background-color: $main;
    font-family: Montserrat, ui-sans-serif, system-ui, serif;
    font-size: 15px;
    color: white;
    font-weight: 400;
}


// Header

.header_hide {
    display: none;
    @include md {
        display: block;
    }
}

.header {
    height: 60px;
    background-color: $header;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 58px;
    }

    &__logo {
        font-weight: 700;
        font-size: 16px;
        width: 60px;

        @include sm {
            font-size: 20px;
        }
    }

    &__menu {
        li {
            width: 85px;

            @media screen and (max-width: 350px) {
                width: 68px;
            }
        }

        a {
            padding: 5px 6px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
                @media screen and (max-width: 350px) {
                    display: none;
                }
            }
        }

        .active {
            background-color: $active-menu;
        }

        @include lg {
            flex-grow: 1;
            margin-left: 150px;
        }
    }

    &__menu ul {
        display: flex;
        gap: 5px;
    }

    &__menu li {
        display: inline;
    }

    &__avatar {
        //width: 60px;
        //text-align: right;

        .avatar {
            width: 29px;
            border-radius: 16px;
        }
    }
}

// Main
.main {
    margin-top: 30px;

    &__text {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-weight: 700;
            font-size: 25px;
        }

        p {
            margin-top: 10px;
        }
    }
}

// Tournaments list

.tournament {
    position: relative;

    display: flex;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 25px;
    height: 150px;

    @include md {
        height: 160px;
    }

    @include galaxy-fold {
        flex-direction: column;
        height: inherit;
    }

    .coming_soon {
        position: absolute;
        width: 100%;
        //height: 150px;
        height: 100%;
        left: 0;
        top: 0;

        background: $main;
        opacity: 0.5;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
    }

    &__image {
        height: 150px;

        @include md {
            height: 160px;
        }

        @include galaxy-fold {
            height: inherit;
        }
    }

    &__image img {
        height: 100%;

        @include galaxy-fold {
            height: inherit;
            width: 100%;
        }
    }

    &__title {
        color: black;
        font-weight: 700;
        font-size: 17px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 15px;
    }

    &__footer {
        display: flex;
        flex-grow: 1;
        align-items: flex-end;
        width: 100%;
        justify-content: space-between;

        @include galaxy-fold {
            margin-top: 15px;
        }
    }

    &__description {
        margin-top: 5px;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #565656;
        max-height: 60px;
        overflow: hidden;
    }

    &__params {
        font-weight: 600;
        font-size: 10px;
        color: #000000;
        padding-bottom: 6px;
    }
}

.join-button {
    padding: 6px 17px;

    width: 94px;
    height: 35px;

    font-weight: 600;
    font-size: 15px;

    color: #FFFFFF;

    background: $join-button;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &:hover {
        background: $join-button-hover;
    }

    &:active {
        background: $join-button-active;
    }

    @include xs {
        width: 150px;
    }

    @include sm {
        width: 200px;
    }
}


// Footer

.footer {
    background-color: $header;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;

    &__body {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 700;
            font-size: 20px;
            margin: 20px 0 35px 0;

            @include md {
                margin: 20px 20px 35px 0;
            }
        }

        @include md {
            flex-direction: row-reverse;
        }
    }

    &__social {
        .link {
            display: inline-block;
            width: 45px;
            height: 45px;
            margin-bottom: 15px;
            padding: 10px;
            background: linear-gradient(135deg, #4D0E7E 0%, #7C10D8 100%);
            border-radius: 5px;

            &:hover {
                background: linear-gradient(110deg, #4D0E7E 0%, #7C10D8 100%);
            }
        }

        @include md {
            display: flex;
        }

        div {
            @include md {
                margin-left: 20px;
            }
        }
    }

    &__links {
        text-align: center;
        margin-right: 15px;

        @include md {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        div {
            margin-bottom: 18px;

            @include md {
                margin-bottom: 12px;
            }
        }
    }

    &__legal {
        font-size: 11px;
        line-height: 13px;
        padding-top: 15px;
        border-top: 1px solid $active-menu;
        margin-top: 15px;
        text-align: center;
        color: lightgray;
    }
}


// Question

.question {

    &__container {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 20px;
    }

    h1 {
        text-align: center;
        font-weight: 700;
        font-size: 25px;
    }

    &__image {
        border-radius: 5px;
        min-height: 200px;
    }

    &__image img {
        max-width: 100%;
        max-height: 300px;
        border-radius: 5px;
        margin-top: 16px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__text {
        margin-top: 16px;
        background-color: white;
        border-radius: 5px;
        color: #373636;
        padding: 15px;
        font-weight: 500;
        line-height: 20px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__answers {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
    }

    &__button {
        margin-top: 10px;
        min-height: 50px;
        position: relative;
        background: $answer-button;
        border-radius: 30px;
        padding: 15px 44px 15px 44px;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    &__description {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        margin-top: 25px;
        text-align: center;
        color: #FFFFFF;
    }

    &__next {
        margin-top: 25px;
    }

    &__next_button {
        background: $next-button;
        border-radius: 5px;
        padding: 15px;
        width: 100%;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }

    .correct {
        background: $correct-button;

        .correct_sign {
            display: block;
        }
    }

    .correct_sign {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 10px;
        top: 10px;

        display: none;

        background: #FFFFFF;
        border-radius: 50px;

        img {
            margin-top: 5px;
        }
    }

    .wrong {
        background: $wrong-button;

        .wrong_sign {
            display: block;
        }
    }

    .wrong_sign {
        position: absolute;
        width: 30px;
        height: 30px;
        left: 10px;
        top: 10px;

        display: none;

        background: #FFFFFF;
        border-radius: 50px;

        img {
            margin-top: 5px;
        }
    }
}

// Results

.results {
    &__no_tournaments {
        text-align: center;

        h3 {
            margin-bottom: 55px;
        }

        a {
            padding: 15px 40px;
        }
    }

    &__result {
        cursor: pointer;

        margin-bottom: 16px;
        display: flex;

        height: 150px;

        background-color: white;
        border-radius: 5px;
        overflow: hidden;

        color: black;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

        @include galaxy-fold {
            flex-direction: column;
            height: initial;
        }
    }

    &__image img {
        height: 150px;

        @include galaxy-fold {
            height: initial;
            width: 100%;
        }
    }

    &__body {
        padding: 11px;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__title {
        font-weight: 700;
        font-size: 17px;
    }

    &__subtitle {
        flex-grow: 1;
        margin-top: 5px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #565656;
    }

    &__params {
        display: flex;
        align-items: center;
    }

    &__date {
        font-size: 12px;
        font-weight: 600;
        flex-grow: 1;
    }

    &__date_time {
        color: #646464;
    }

    &__place_number {
        font-weight: 600;
        font-size: 15px;
        margin-left: 2px;
    }

    &__place_text {
        font-weight: 600;
        font-size: 10px;
        text-align: center;
        color: #646464;
        margin-top: 2px;
    }

    &__place_trophy {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.leaderboard {
    .avatar {
        width: 29px;
        border-radius: 16px;
        position: absolute;
        top: 4px;
    }

    &__title {
        font-weight: 700;
        font-size: 25px;
        color: #FFFFFF;
        text-align: center;
    }

    &__subtitle {
        font-weight: 700;
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
    }

    &__table {
        background-color: $header;
        padding: 10px;
        border-radius: 5px;
        margin-top: 20px;
    }

    &__table_header {
        font-weight: 700;
        font-size: 11px;
        text-transform: uppercase;
        display: flex;
        color: #D39CFF;
        padding: 10px;
    }

    &__row {
        background-color: #6210A3;
        border-radius: 5px;
        display: flex;
        margin-top: 7px;
        padding: 10px;
        position: relative;

    }

    //&__trophy {
        //position: absolute;
        //top: 8px;
        //left: 4px;
    //}

    &__name {
        margin-left: 40px;
        display: inline-block;
        line-height: 17px;
    }

    &__you {
        font-size: 12px;
        color: #e0c2f7;
    }

    &__row_waiting {
        font-weight: 700;
        font-size: 11px;

        color: #B65AFF;
    }

    .position-you {
        background-color: #8e6eb2;
    }

    .position-1 .col-1, .position-2 .col-1, .position-3 .col-1 {
        //padding-left: 19px;
    }

    .col-1 {
        width: 35px;
        display: flex;
        align-items: center;

        img {
            margin-right: 2px;
        }

        @include xs {
            width: 65px;
        }
    }

    .col-2 {
        flex-grow: 1;
    }

    .col-3 {

    }

    .position-1 {
        border: 1px solid rgba(240, 213, 66, 0.5);
    }

    .position-2 {
        border: 1px solid rgba(192, 192, 192, 0.5);
    }

    .position-3 {
        border: 1px solid rgba(205, 127, 50, 0.5);
    }
}

// Tournaments leaderboard
.tournaments-leaderboard {
    &__buttons {
        text-align: center;
        margin-top: 20px;
    }

    &__button {
        width: 300px;
        display: inline-block;
    }
}

// Modal

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

    &__content {
        display: none;
        border-radius: 5px;
        position: relative;
        background-color: $main;
        max-width: 500px;
        padding: 20px 0;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;

        margin: 15px;

        @include xs {
            margin: 0 auto;
        }

        @include galaxy-fold {
            padding-bottom: 0;
        }
    }

    &__close {
        color: white;
        float: right;
        margin-top: -30px;
        margin-right: -10px;
        font-size: 28px;
        font-weight: bold;
        background-color: #3F34BD;
        width: 29px;
        height: 25px;
        text-align: center;
        padding-bottom: 28px;
        border-radius: 70px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

        &:hover,
        &:focus {
            text-decoration: none;
            cursor: pointer;
        }
    }


    &__body {
        padding: 2px 16px;
        min-height: 300px;

        @include galaxy-fold {
            padding: 0;
        }
    }
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


// Loader

.loader {
    width: 18px;
    height: 18px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    //display: inline-block;
    margin: 0 auto;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    &__small {
        width: 14px;
        height: 14px;
    }

    &__big {
        width: 30px;
        height: 30px;
        border: 5px solid #FFF;
        border-bottom-color: transparent;
    }

    &__popup {
        position: relative;
        top: 30%;
    }
}



@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


// News
.news {
    margin-top: 20px;

    h1 {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 20px;
        line-height: 18px;
    }

    &__item {
        margin: 40px 0;
    }

    &__read_more_news {
        margin-top: 50px;
    }
}

.news-page {
    h1 {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 15px;
    }

    p {
        margin-bottom: 20px;
        line-height: 20px;
    }

    &__read_more_news {
        margin-top: 50px;
    }

    &__image {
        margin-bottom: 20px;

        img {
            max-width: 500px;
            border-radius: 10px;
        }
    }
}

.game-divider {
    margin-top: 20px;
}
