@import "reset";
@import "breakpoints";
@import "colors";

html, body {
    height: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 280px;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    padding: 0 15px;
    margin: 0 auto;

    @include sm {
    }

    @include md {
    }

    @include lg {
    }
}

body {
    background-image: url("img/background.svg");
    background-color: $main;
    font-family: Montserrat, serif;
    font-size: 15px;
    color: white;
    font-weight: 400;
}


// Header

.header {
    height: 60px;
    background-color: $header;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 58px;
    }

    &__logo {
        font-weight: 700;
        font-size: 20px;
        width: 60px;
    }

    &__menu {
        a {
            padding: 5px 6px;
            border-radius: 5px;
            display: flex;
            align-items: center;

            svg {
                margin-right: 5px;
                @media screen and (max-width: 350px) {
                    display: none;
                }
            }
        }

        .active {
            background-color: $active-menu;
        }
    }

    &__menu ul {
        display: flex;
        gap: 5px;
    }

    &__menu li {
        display: inline;
    }

    &__avatar {
    }
}

// Main
.main {
    margin-top: 40px;

    &__text {
        text-align: center;
        margin-bottom: 30px;

        h1 {
            font-weight: 700;
            font-size: 25px;
        }

        p {
            margin-top: 10px;
        }
    }
}

// Tournaments list

.tournament {
    display: flex;
    background: #FFFFFF;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
    height: 150px;

    @include galaxy-fold {
        flex-direction: column;
        height: inherit;
    }

    &__image {
    }

    &__image img {
        height: 100%;

        @include galaxy-fold {
            height: inherit;
            width: 100%;
        }
    }

    &__title {
        color: black;
        font-weight: 700;
        font-size: 17px;
    }

    &__body {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 11px;
    }

    &__footer {
        display: flex;
        flex-grow: 1;
        align-items: end;
        width: 100%;
        justify-content: space-between;

        @include galaxy-fold {
            margin-top: 15px;
        }
    }

    &__description {
        font-weight: 600;
        font-size: 12px;
        color: #565656;
    }

    &__params {
        font-weight: 600;
        font-size: 10px;
        color: #000000;
        padding-bottom: 5px;
    }
}

.join-button {
    padding: 6px 17px;

    width: 94px;
    height: 35px;

    font-weight: 600;
    font-size: 15px;

    color: #FFFFFF;

    background: $join-button;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    &:hover {
        background: $join-button-hover;
    }

    &:active {
        background: $join-button-active;
    }
}


// Footer

.footer {
    background-color: $header;
    padding-top: 20px;
    padding-bottom: 20px;

    &__body {
        display: flex;
        justify-content: space-between;

        h2 {
            font-weight: 700;
            font-size: 20px;
            margin: 20px 0 35px 0;

            @include md {
                margin: 20px 20px 35px 0;
            }
        }

        @include md {
            flex-direction: row-reverse;
        }
    }

    &__social {
        .link {
            display: inline-block;
            width: 45px;
            height: 45px;
            margin-bottom: 15px;
            padding: 10px;
            background: linear-gradient(135deg, #4D0E7E 0%, #7C10D8 100%);
            border-radius: 5px;

            &:hover {
                background: linear-gradient(110deg, #4D0E7E 0%, #7C10D8 100%);
            }
        }

        @include md {
            display: flex;
        }

        div {
            @include md {
                margin-left: 20px;
            }
        }
    }

    &__links {
        text-align: center;
        margin-right: 15px;

        @include md {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        div {
            margin-bottom: 18px;

            @include md {
                margin-bottom: 12px;
            }
        }
    }

    &__legal {
        font-size: 11px;
        line-height: 13px;
        padding-top: 15px;
        border-top: 1px solid $active-menu;
        margin-top: 15px;
        text-align: center;
        color: lightgray;
    }
}
